<header>
<app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>


<div class="container__articles">
    <div class="articles__main">
        <app-big-card 
        photoCover="https://picsum.photos/300/200"
        cardTitle="NOVO FILME DO HOMEM DE FERRO"
        cardDescription="Marvel anuncia seu nome filme do homem de ferro."
        >
        </app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card
        photoCover="https://picsum.photos/id/2/200"
        cardTitle="Nova série anunciada no Disney+"
        >
        </app-small-card>

        <app-small-card
        photoCover="https://picsum.photos/id/4/200"
        cardTitle="Nova série anunciada no Disney+"
        >
        </app-small-card>

        <app-small-card
        photoCover="https://picsum.photos/id/6/200"
        cardTitle="Nova série anunciada no Disney+"
        >
        </app-small-card>
    </div>
</div>